<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dolphin.android.apps.BloodServiceApp">

    <!-- <uses-sdk tools:node="replace" /> -->
    <application
        android:icon="@mipmap/ic_adaptive_launcher"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_adaptive_launcher_round"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon"
        tools:targetApi="n">

        <activity
            android:name="dolphin.android.apps.BloodServiceApp.ui.MainActivity"
            android:screenOrientation="userPortrait"
            tools:replace="android:screenOrientation" />

        <activity
            android:name="dolphin.android.apps.BloodServiceApp.ui.SplashActivity"
            android:theme="@style/Theme.Bloody.Splash"
            tools:replace="android:theme">
            <!--suppress AndroidElementNotAllowed -->
            <layout
                android:defaultWidth="480dp"
                android:defaultHeight="720dp"
                android:gravity="top|end"
                android:minWidth="480dp"
                android:minHeight="640dp"
                tools:targetApi="n" />
        </activity>
    </application>

</manifest>
